.card {
    max-width: 600px;
    background-color: #FBEBFC;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    white-space: wrap;   
    
}

.card-body {
    padding: 30px;
    text-align: left;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    background-color: #EBDBEC;
}
