.card {
    width: 600px;
    background-color: #FBEBFC;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    white-space: wrap;   
}

.card-body {
    padding: 30px;
    text-align: left;
}

.card-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.main {
    align-items: center;
    padding: 30px;
}