<div class="main">
    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                <h1>About Me</h1>
                <p> I am Megan, a Computer Science student at UIUC with a minor in Data Science. 
                    I have always been passionate about Human Computer Interation and the way technology can improve lives for those in need.
                    I have gotten the chance to learn about accessible design through Design Innovation, and am excited to implement it into personal projects in the future.
                </p>
                <p>
                    My favorite courses so far have been CS361 (Probability and Statistics for Computer Science). 
                    I found lots of the machine learning parts to be intriguing. 
                    The final project we completed where we compared optimization methods and utilize them to detect the number based on an image of the handwritten version was fascinating, as we could see the differences in their learning rates over time. 
                    I also enjoyed the data analysis we did on correlations between real-life factors, such as income and accessibility to education. 
                </p>
                <p> 
                    Outside of technical work, I enjoy making bouquets as gifts for friends and family!
                </p>
            </div>
        </div> 
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                <h1>My Skills</h1>
                <h3> Coding Languages</h3>
                <ul>
                    <li *ngFor="let item of this.languages"> 
                        {{item}}
                    </li>
                </ul>
                <h3> Frameworks</h3>
                <ul>
                    <li *ngFor="let item of this.frameworks"> 
                        {{item}}
                    </li>
                </ul>
                <h3> Relevant Courses</h3>
                <ul>
                    <li *ngFor="let item of this.courses | keyvalue"> 
                        <b>{{item.key}}:</b> {{item.value}}
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>