<div class="main">
    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                <h1>About Me</h1>
                <p> blah blah blah</p>
            </div>
        </div> 
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="card-body">
                <h1>My Skills</h1>
                <h3> Coding Languages</h3>
                <ul>
                    <li *ngFor="let item of this.languages"> 
                        {{item}}
                    </li>
                </ul>
                <h3> Frameworks</h3>
                <ul>
                    <li *ngFor="let item of this.frameworks"> 
                        {{item}}
                    </li>
                </ul>
                <h3> Relevant Courses</h3>
                <ul>
                    <li *ngFor="let item of this.courses | keyvalue"> 
                        <b>{{item.key}}:</b> {{item.value}}
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>