.main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

h1 {
    padding-bottom: 20px;
}

.row {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
